@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%
}

html,
body {
    height: 100%
}

body {
    font: normal 300 1.4rem/1.86 "Poppins", sans-serif;
    color: #666;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden
}

::-moz-selection {
    color: #fff;
    background-color: #c96
}

::selection {
    color: #fff;
    background-color: #c96
}

p {
    margin-bottom: 1.5rem
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem
}

b,
strong {
    font-weight: 700
}

em,
i {
    font-style: italic
}

hr {
    border: none;
    border-top: 1px solid #ebebeb;
    margin: 3rem auto 2.5rem
}

sub,
sup {
    position: relative;
    font-size: 70%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

.bg-light {
    background-color: #f8f8f8 !important
}

.bg-light-2 {
    background-color: #f9f9f9 !important
}

.bg-lighter {
    background-color: #fafafa !important
}

.bg-gray {
    background-color: #f4f5f8 !important
}

.bg-primary {
    background-color: #c96 !important
}

.bg-secondary {
    background-color: #a6c76c !important
}

.bg-image {
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.bg-overlay {
    position: relative
}

.bg-overlay:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: .3;
    background-color: #333
}

.bg-overlay .container,
.bg-overlay .container-fluid {
    position: relative;
    z-index: 2
}

@keyframes rotating {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 1.4rem;
    color: #333;
    letter-spacing: -.03em
}

h1,
.h1 {
    font-size: 4rem
}

h2,
.h2 {
    font-size: 3.6rem
}

h3,
.h3 {
    font-size: 2.6rem
}

h4,
.h4 {
    font-size: 2.2rem
}

h5,
.h5 {
    font-size: 2rem;
    letter-spacing: -.025em
}

h6,
.h6 {
    font-size: 1.6rem;
    letter-spacing: -.01em
}

a {
    color: #c96;
    text-decoration: none;
    transition: color 0.3s ease
}

a:hover,
a:focus {
    color: #bf8040;
    text-decoration: none
}

.link-underline {
    box-shadow: 0 1px 0 0 #c96
}

.text-primary {
    color: #c96 !important
}

.text-secondary {
    color: #a6c76c !important
}

.text-dark {
    color: #333 !important
}

.text-light {
    color: #ccc !important
}

.lead {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    margin-bottom: 1.2rem
}

blockquote {
    position: relative;
    margin: 0 0 4.2rem;
    padding: 0;
    color: #777;
    font-style: italic;
    font-size: 1.6rem;
    line-height: 1.625
}

blockquote p {
    max-width: 1120px
}

blockquote.text-center p {
    margin-left: auto;
    margin-right: auto
}

blockquote cite {
    font-style: normal;
    font-weight: 500;
    color: #333333;
    letter-spacing: -.01em;
    line-height: 1
}

blockquote cite span {
    display: block;
    font-weight: 300;
    font-size: 1.4rem
}

blockquote.text-white cite {
    color: #cccccc
}

blockquote.text-white cite span {
    color: #777
}

@media screen and (min-width: 768px) {

    h1,
    .h1 {
        font-size: 5rem
    }

    h2,
    .h2 {
        font-size: 4rem
    }

    h3,
    .h3 {
        font-size: 3rem
    }

    h4,
    .h4 {
        font-size: 2.4rem
    }
}

.row {
    margin-left: -10px;
    margin-right: -10px
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    padding-right: 10px;
    padding-left: 10px
}

.no-gutters {
    margin-left: 0;
    margin-right: 0
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-left: 0;
    padding-right: 0
}

.container {
    width: 1188px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: transform 0.4s ease
}

.mmenu-active .page-wrapper {
    transform: translateX(200px)
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .page-wrapper {
        display: block
    }
}

.main {
    flex: 1;
    width: 100%
}

.page-content {
    padding-bottom: 5rem
}

@media screen and (min-width: 992px) {
    .col-5col {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

.col-xl-5col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px
}

.col-xl-4-5col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px
}

.col-xl-2-5col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px
}

.col-xl-3-5col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px
}

@media screen and (min-width: 1200px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px
    }

    .col-xl-5col {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-xl-4-5col {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }

    .col-xl-2-5col {
        -ms-flex: 0 0 calc(40%);
        flex: 0 0 calc(40%);
        max-width: calc(40%)
    }

    .col-xl-3-5col {
        -ms-flex: 0 0 calc(60%);
        flex: 0 0 calc(60%);
        max-width: calc(60%)
    }

    .no-gutters .col-xl-2-5col {
        -ms-flex: 0 0 calc(40% + 8px);
        flex: 0 0 calc(40% + 8px);
        max-width: calc(40% + 8px)
    }

    .no-gutters .col-xl-3-5col {
        -ms-flex: 0 0 calc(60% - 8px);
        flex: 0 0 calc(60% - 8px);
        max-width: calc(60% - 8px)
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1200px
    }
}

@media screen and (min-width: 1600px) {
    .container-fluid {
        padding-left: 70px;
        padding-right: 70px
    }

    .col-xxl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xxl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-xxl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }

    .col-xxl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }

    .offset-xxl-2 {
        margin-left: 16.666667%
    }

    .col-xxl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xxl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }

    .col-xxl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .col-xxl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xxl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }

    .col-xxl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }

    .col-xxl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xxl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }

    .col-xxl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }

    .col-xxl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .col-xxl-5col {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-xxl-4-5col {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }

    .d-xxl-block {
        display: block !important
    }

    .d-xxl-flex {
        display: flex !important
    }
}

@media screen and (min-width: 1920px) {
    .container-fluid {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto
    }
}



.cart-dropdown,
.compare-dropdown {
    display: flex;
    align-self: stretch;
    align-items: center
}

.cart-dropdown .dropdown-toggle,
.compare-dropdown .dropdown-toggle {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    line-height: 1;
    color: #333
}

.cart-dropdown .dropdown-toggle::after,
.compare-dropdown .dropdown-toggle::after {
    display: none
}

.cart-dropdown .dropdown-menu,
.compare-dropdown .dropdown-menu {
    display: block;
    width: 300px;
    z-index: 100;
    font-size: 1.3rem;
    z-index: 1001;
    border: none;
    margin: 1px 0 0;
    padding: 2.2rem 3rem 2.5rem;
    border-radius: 0;
    border: none;
    box-shadow: 5px 10px 16px rgba(51, 51, 51, 0.05), -5px 10px 16px rgba(51, 51, 51, 0.05);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all .25s
}

.cart-dropdown .dropdown-menu:before,
.compare-dropdown .dropdown-menu:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1px
}

.cart-dropdown .dropdown-menu.dropdown-menu-right,
.compare-dropdown .dropdown-menu.dropdown-menu-right {
    right: -1px
}

.cart-dropdown .btn-remove,
.compare-dropdown .btn-remove {
    position: absolute;
    top: 50%;
    right: -.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    color: #cccccc;
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    margin-top: -1.2rem
}

.cart-dropdown .btn-remove:hover,
.cart-dropdown .btn-remove:focus,
.compare-dropdown .btn-remove:hover,
.compare-dropdown .btn-remove:focus {
    color: #333
}

.cart-dropdown:hover .dropdown-toggle,
.cart-dropdown.show .dropdown-toggle,
.compare-dropdown:hover .dropdown-toggle,
.compare-dropdown.show .dropdown-toggle {
    color: #c96
}

.cart-dropdown:hover .dropdown-menu,
.cart-dropdown.show .dropdown-menu,
.compare-dropdown:hover .dropdown-menu,
.compare-dropdown.show .dropdown-menu {
    visibility: visible;
    opacity: 1
}

.compare-dropdown {
    padding-left: 2.5rem
}

.compare-dropdown .dropdown-toggle {
    font-size: 2.6rem
}



.btn-outline-light {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light.focus,
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
    color: #c96;
    background-color: transparent;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
    color: #fff;
    background-color: transparent
}

.btn-outline-dark {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #d7d7d7;
    box-shadow: none
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark.dropdown-toggle {
    color: #c96;
    background-color: transparent;
    border-color: #ebebeb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-dark-2 {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #ebebeb;
    box-shadow: none
}

.btn-outline-dark-2:hover,
.btn-outline-dark-2:focus,
.btn-outline-dark-2.focus,
.btn-outline-dark-2:not(:disabled):not(.disabled):active,
.btn-outline-dark-2:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark-2.dropdown-toggle {
    color: #c96;
    background-color: #fafafa;
    border-color: #ebebeb;
    box-shadow: none
}

.btn-outline-dark-2.disabled,
.btn-outline-dark-2:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-dark-3 {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #d7d7d7;
    box-shadow: none
}

.btn-outline-dark-3:hover,
.btn-outline-dark-3:focus,
.btn-outline-dark-3.focus,
.btn-outline-dark-3:not(:disabled):not(.disabled):active,
.btn-outline-dark-3:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark-3.dropdown-toggle {
    color: #c96;
    background-color: transparent;
    border-color: #c96;
    box-shadow: none
}

.btn-outline-dark-3.disabled,
.btn-outline-dark-3:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-darker {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #d7d7d7;
    box-shadow: none
}

.btn-outline-darker:hover,
.btn-outline-darker:focus,
.btn-outline-darker.focus,
.btn-outline-darker:not(:disabled):not(.disabled):active,
.btn-outline-darker:not(:disabled):not(.disabled).active,
.show>.btn-outline-darker.dropdown-toggle {
    color: #fff;
    background-color: #c96;
    border-color: #c96;
    box-shadow: none
}

.btn-outline-darker.disabled,
.btn-outline-darker:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-gray {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #959595;
    box-shadow: none
}

.btn-outline-gray:hover,
.btn-outline-gray:focus,
.btn-outline-gray.focus,
.btn-outline-gray:not(:disabled):not(.disabled):active,
.btn-outline-gray:not(:disabled):not(.disabled).active,
.show>.btn-outline-gray.dropdown-toggle {
    color: #fff;
    background-color: #c96;
    border-color: #c96;
    box-shadow: none
}

.btn-outline-gray.disabled,
.btn-outline-gray:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-lightgray {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #ebebeb;
    box-shadow: none
}

.btn-outline-lightgray:hover,
.btn-outline-lightgray:focus,
.btn-outline-lightgray.focus,
.btn-outline-lightgray:not(:disabled):not(.disabled):active,
.btn-outline-lightgray:not(:disabled):not(.disabled).active,
.show>.btn-outline-lightgray.dropdown-toggle {
    color: #c96;
    background-color: #f5f6f9;
    border-color: #ebebeb;
    box-shadow: none
}

.btn-outline-lightgray.disabled,
.btn-outline-lightgray:disabled {
    color: #333;
    background-color: transparent
}

.btn-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05) !important
}

.btn-shadow:hover,
.btn-shadow:focus,
.btn-shadow:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15) !important
}

.btn-outline-white {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white.focus,
.btn-outline-white:not(:disabled):not(.disabled):active,
.btn-outline-white:not(:disabled):not(.disabled).active,
.show>.btn-outline-white.dropdown-toggle {
    color: #fff;
    background-color: #c96;
    border-color: #c96;
    box-shadow: none
}

.btn-outline-white.disabled,
.btn-outline-white:disabled {
    color: #fff;
    background-color: transparent
}

.btn-outline-white-2 {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-white-2:hover,
.btn-outline-white-2:focus,
.btn-outline-white-2.focus,
.btn-outline-white-2:not(:disabled):not(.disabled):active,
.btn-outline-white-2:not(:disabled):not(.disabled).active,
.show>.btn-outline-white-2.dropdown-toggle {
    color: #fff;
    background-color: #a6c76c;
    border-color: #a6c76c;
    box-shadow: none
}

.btn-outline-white-2.disabled,
.btn-outline-white-2:disabled {
    color: #fff;
    background-color: transparent
}

.btn-outline-white-3 {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-white-3:hover,
.btn-outline-white-3:focus,
.btn-outline-white-3.focus,
.btn-outline-white-3:not(:disabled):not(.disabled):active,
.btn-outline-white-3:not(:disabled):not(.disabled).active,
.show>.btn-outline-white-3.dropdown-toggle {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-white-3.disabled,
.btn-outline-white-3:disabled {
    color: #fff;
    background-color: transparent
}

.btn-outline-white-4 {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-white-4:hover,
.btn-outline-white-4:focus,
.btn-outline-white-4.focus,
.btn-outline-white-4:not(:disabled):not(.disabled):active,
.btn-outline-white-4:not(:disabled):not(.disabled).active,
.show>.btn-outline-white-4.dropdown-toggle {
    color: #c96;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none
}

.btn-outline-white-4.disabled,
.btn-outline-white-4:disabled {
    color: #fff;
    background-color: transparent
}

.bg-image .btn-wrap>span {
    color: #777
}

.bg-image .btn-link-dark {
    color: #fff
}

.bg-image .btn-link-dark:hover,
.bg-image .btn-link-dark:focus {
    color: #c96;
    border-color: #c96
}

.bg-image .btn-outline-primary:hover,
.bg-image .btn-outline-primary:focus,
.bg-image .btn-outline-primary.focus,
.bg-image .btn-outline-primary:not(:disabled):not(.disabled):active,
.bg-image .btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.bg-image .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #c96;
    border-color: #c96
}

.bg-image .btn-outline-dark {
    color: #fff;
    border-color: #fff
}

.bg-image .btn-outline-dark:hover,
.bg-image .btn-outline-dark:focus,
.bg-image .btn-outline-dark.focus,
.bg-image .btn-outline-dark:not(:disabled):not(.disabled):active,
.bg-image .btn-outline-dark:not(:disabled):not(.disabled).active,
.show>.bg-image .btn-outline-dark.dropdown-toggle {
    color: #c96;
    background-color: #fff;
    border-color: #fff
}

.product {
    position: relative;
    margin-bottom: 1rem;
    transition: box-shadow .35s ease;
    background-color: #fff
}

.owl-carousel .product {
    margin-bottom: 0 !important
}

.product:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05)
}

.product-media {
    position: relative;
    display: block;
    background-color: #d7d7d7;
    margin-bottom: 0;
    overflow: hidden
}

.product-media>a {
    display: block
}

.product-image {
    display: block;
    width: 100%;
    height: auto
}

.product-image-hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: all .4s ease
}

.product:hover .product-image-hover {
    opacity: 1
}

.product-countdown {
    position: absolute;
    left: .8rem;
    right: .8rem;
    bottom: 1.3rem;
    z-index: 6;
    transition: all .4s ease;
    visibility: visible;
    opacity: 1
}

.product-countdown .countdown-show4 .countdown-section {
    width: calc(25% - 10px)
}

.product-countdown .countdown-section {
    font-size: 1rem;
    line-height: 1;
    padding: 1.4rem 0 1.2rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: .4rem
}

.product-countdown .countdown-section:not(:last-child):after {
    color: #fff;
    content: ':';
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    position: absolute;
    left: 100%;
    margin-left: 3px;
    margin-top: -1px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%)
}

.product-countdown .countdown-period {
    display: block;
    font-weight: 400;
    color: #333333;
    text-transform: lowercase;
    width: 100%;
    padding-left: .2rem;
    padding-right: .2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.product-countdown .countdown-amount {
    display: inline-block;
    color: #ef837b;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: -.03em;
    margin-bottom: .6rem
}

.product-countdown.countdown-primary .countdown-amount {
    color: #c96
}

.product-countdown-container {
    position: absolute;
    left: 1.4rem;
    right: 1.4rem;
    bottom: 1.3rem;
    z-index: 6;
    padding-top: .9rem;
    padding-bottom: .9rem;
    border-radius: .3rem;
    background-color: rgba(255, 255, 255, 0.95);
    letter-spacing: -.01em;
    transition: all .4s ease;
    visibility: visible;
    opacity: 1
}

.product-countdown-container .product-contdown-title {
    display: block;
    color: #333;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: .3rem;
    text-align: center
}

.product-countdown-container .product-countdown {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 6;
    line-height: 1;
    opacity: 1
}

.product-countdown-container .product-countdown .countdown-amount {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 0;
    text-transform: uppercase
}

.product:hover .product-countdown,
.product:hover .product-countdown-container {
    opacity: 0;
    visibility: hidden
}

.product-body {
    position: relative;
    padding: 1.6rem 2rem;
    transition: all .35s ease;
    background-color: #fff
}

.product-body.product-action-inner {
    padding-right: 4rem
}

.product-title {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: -.01em;
    color: #333333;
    margin-bottom: .2rem
}

.product-title a {
    color: inherit
}

.product-title a:hover,
.product-title a:focus {
    color: #c96
}

.product-cat {
    color: #777;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.2;
    letter-spacing: -.01em;
    margin-bottom: .3rem
}

.product-cat a {
    color: inherit
}

.product-cat a:hover,
.product-cat a:focus {
    color: #666
}

.product-price {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #c96;
    margin-bottom: 1.3rem
}

.new-price {
    color: #ef837b;
    margin-right: .8rem
}

.old-price {
    color: #cccccc;
    text-decoration: line-through
}

.out-price {
    color: #cccccc
}

.out-text {
    display: block;
    width: 100%;
    font-size: 1.3rem;
    margin-top: .2rem
}

.product-label {
    position: absolute;
    z-index: 1;
    top: 2rem;
    left: 2rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: -.01em;
    padding: .5rem .9rem;
    min-width: 45px;
    text-align: center;
    color: #333333;
    background-color: #fff
}

.product-label+.product-label {
    top: 5rem
}

.product-label.label-sale {
    color: #fff;
    background-color: #ef837b
}

.product-label.label-new {
    color: #fff;
    background-color: #a6c76c
}

.product-label.label-top {
    color: #fff;
    background-color: #7dd2ea
}

.product-label.label-out {
    color: #fff;
    background-color: #ccc
}

.product-label.label-primary {
    color: #fff;
    background-color: #c96
}

.product-label.label-secondary {
    color: #fff;
    background-color: #a6c76c
}

.product-label-text {
    color: #c96;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1;
    letter-spacing: -.01em;
    margin-top: -.1rem
}

.label-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.6rem;
    height: 4.6rem;
    min-width: 0;
    border-radius: 50%;
    line-height: 1
}

.label-circle+.label-circle {
    top: 5.6rem
}

.label-circle.label-out {
    font-size: 1.1rem
}

.ratings-container {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 1.7rem;
    line-height: 1;
    white-space: nowrap
}

.ratings {
    position: relative;
    color: #cccccc
}

.ratings,
.ratings-val {
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    line-height: 1;
    font-family: "molla"
}

.ratings:before,
.ratings-val:before {
    content: "\f318" "\f318" "\f318" "\f318" "\f318"
}

.ratings-val {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fcb941
}

.ratings-primary .ratings-val {
    color: #c96
}

.ratings-text {
    color: #cccccc;
    letter-spacing: -.01em;
    margin-left: .8rem
}

.ratings-text a {
    color: inherit
}

.ratings-text a:hover,
.ratings-text a:focus {
    color: #c96
}

.product-action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
    transition: all .35s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%)
}

.product:hover .product-action,
.product:focus .product-action {
    visibility: visible;
    opacity: 1;
    transform: translateY(0)
}

.action-icon-top {
    padding-top: .8rem;
    padding-bottom: .8rem
}

.action-icon-top .btn-product {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column
}

.action-icon-top .btn-product span {
    margin-top: .9rem
}

.action-icon-top:before {
    margin-right: 0
}

.btn-product {
    color: #c96;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 1;
    transition: all .35s ease;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    flex-grow: 1;
    flex-basis: 0
}

.btn-product+.btn-product {
    border-left: .1rem dotted #e5e5e5
}

.btn-product:before {
    font-family: "molla";
    margin-right: .9rem
}

.btn-product span {
    color: #666666;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: -.01em;
    transition: all .35s ease
}

.btn-product:hover,
.btn-product:focus {
    outline: none !important
}

.btn-product:hover span,
.btn-product:focus span {
    color: #c96;
    box-shadow: 0 1px 0 0 #c96
}

.product-action-dark {
    background-color: #333333
}

.product-action-dark .btn-product:not(:hover):not(:focus) span {
    color: #fff
}

.product-action-dark .btn-product+.btn-product {
    border-left-color: #4b4b4b
}

.product-action-vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: transparent;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .35s ease;
    transform: translateX(-15px)
}

.product:hover .product-action-vertical {
    visibility: visible;
    opacity: 1;
    transform: translateX(0)
}

.btn-product-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1;
    transition: all .35s ease;
    padding: 0;
    border-radius: 50%;
    color: #c96;
    background-color: #fff
}

.btn-product-icon:before {
    font-family: "molla"
}

.btn-product-icon span {
    display: none
}

.btn-product-icon:hover,
.btn-product-icon:focus {
    color: #fff;
    background-color: #c96
}

.btn-product-icon+.btn-product-icon {
    margin-top: 1rem
}

.btn-cart:before {
    content: '\e812'
}

.btn-wishlist {
    font-size: 1.6rem
}

.btn-wishlist:before {
    content: '\f234'
}

.product-body .btn-wishlist {
    position: absolute;
    top: 3.4rem;
    right: 2rem;
    color: #ccc;
    padding: 0;
    margin: 0;
    background: none
}

.product-body .btn-wishlist:before {
    margin-right: 0
}

.product-body .btn-wishlist span {
    display: none
}

.product-body .btn-wishlist:hover,
.product-body .btn-wishlist:focus {
    color: #c96;
    background: none
}

.btn-quickview:before {
    content: '\f145'
}

.btn-compare:before {
    content: '\f2d0'
}

.btn-expandable {
    position: relative
}

.btn-expandable span {
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    align-items: center;
    display: inline-flex;
    font-weight: 300;
    font-size: 1.1rem;
    white-space: nowrap;
    letter-spacing: 0;
    min-width: 100px;
    padding-left: 1.8rem;
    padding-right: .4rem;
    color: #fff;
    background-color: #c96;
    transition: all .35s ease;
    opacity: 0;
    visibility: hidden;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: translateX(15px);
    z-index: -1
}

.btn-expandable:hover,
.btn-expandable:focus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.btn-expandable:hover span,
.btn-expandable:focus span {
    visibility: visible;
    opacity: 1;
    transform: translateX(0)
}

.product-size {
    display: flex;
    align-items: center;
    padding-top: .2rem;
    margin-bottom: 1.6rem
}

.product-size a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 2.1rem;
    height: 2.1rem;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: .1rem;
    line-height: 1;
    color: #666666;
    background-color: #f7f8fa;
    border-radius: .2rem;
    transition: all .35s ease;
    margin-right: .5rem
}

.product-size a:last-child {
    margin-right: 0
}

.product-size a:hover,
.product-size a:focus,
.product-size a.active {
    color: #fff;
    background-color: #333
}

.product-size a.disabled {
    color: #cccccc;
    pointer-events: none
}

.product-nav {
    display: flex;
    align-items: center
}

.product-nav-dots {
    margin-bottom: .5rem
}

.product-nav-dots a,
.product-nav-dots span {
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    border: .2rem solid #fff;
    margin-right: .5rem;
    transition: box-shadow .35s ease;
    background-repeat: no-repeat;
    background-position: center center
}

.product-nav-dots a.active,
.product-nav-dots a:hover,
.product-nav-dots a:focus,
.product-nav-dots span.active,
.product-nav-dots span:hover,
.product-nav-dots span:focus {
    box-shadow: 0 0 0 0.1rem #cccccc
}

.product-nav-dots a:last-child,
.product-nav-dots span:last-child {
    margin-right: 0
}

.product-nav-thumbs {
    padding-top: .2rem;
    margin-bottom: 1.6rem
}

.product-nav-thumbs a,
.product-nav-thumbs span {
    display: flex;
    align-items: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: .2rem;
    border: .2rem solid #fff;
    margin-right: .4rem;
    transition: box-shadow .35s ease
}

.product-nav-thumbs a.active,
.product-nav-thumbs a:hover,
.product-nav-thumbs a:focus,
.product-nav-thumbs span.active,
.product-nav-thumbs span:hover,
.product-nav-thumbs span:focus {
    box-shadow: 0 0 0 0.1rem #cccccc
}

.product-nav-thumbs a:last-child,
.product-nav-thumbs span:last-child {
    margin-right: 0
}

.product-nav-thumbs img {
    border-radius: .2rem
}

.product-disabled {
    pointer-events: none
}

.product-disabled .btn-product,
.product-disabled .btn-product-icon {
    pointer-events: none;
    color: #fff;
    background-color: #ccc !important
}

.product.text-center .product-price,
.product.text-center .ratings-container,
.product.text-center .product-nav,
.product.text-center .product-size {
    justify-content: center
}

.product.product-2 .product-body {
    padding-bottom: .4rem
}

.product.product-2 .product-action {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.product.product-2 .btn-product {
    padding-top: .1rem;
    padding-bottom: .1rem
}

.product.product-2 .btn-product+.btn-product {
    border-left-style: solid
}

.product.product-2 .ratings-container:last-child {
    margin-bottom: 1.6rem
}

.product.product-2 .product-action-vertical {
    top: 3rem
}

.product.product-2 .product-nav-dots {
    margin-bottom: 2rem
}

